<ion-view>
    <div class="bar bar-header item-input-inset" style="background: #c7ddef">
        <button class="button ion-ios-arrow-back button-clear" ui-sref="tabs.nation" style="color: #0b1926;font-size: 1.5em;padding-right: 0.5em"></button>
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="请输入搜索关键字"/>
        </div>
        <button class="button button-icon ion-android-search"></button>
    </div>
    <ion-content class="has-header">
        <ion-item>
            <div class="search cl1">
                <p style="color: #ffb151">搜索历史</p>
                <ol>
                    <li><a>1、民族诗词</a></li>
                    <li><a>1、民族医药</a></li>
                    <li><a>2、傣族舞蹈</a></li>
                </ol>
            </div>
        </ion-item>
        <ion-item>
            <div class="search">
                <p style="color: #ff671d">热门搜索</p>
                <ol>
                    <li><a>1、蒙古草原</a></li>
                    <li><a>2、仡佬族美食</a></li>
                    <li><a>3、西藏布达拉宫</a></li>
                    <li><a>4、苗族医药</a></li>
                </ol>
            </div>
        </ion-item>
    </ion-content>
</ion-view>