<ion-tabs  class="tabs-icon-top tabs-striped">
    <ion-tab title="首页" icon-on="icon ion-ios-home royal"  icon-off="icon ion-ios-home-outline" ui-sref="tabs.menu.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab  title="民族" icon-on="icon  icon ion-ios-people royal"  icon-off=" ion-ios-people-outline" ui-sref="tabs.nation">
        <ion-nav-view name="tab-nation"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分享" icon-on="icon ion-happy royal"  icon-off="icon ion-happy-outline" ui-sref="tabs.share">
        <ion-nav-view name="tab-share"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-on="icon ion-ios-person royal"  icon-off="icon ion-ios-person-outline" ui-sref="tabs.myself">
        <ion-nav-view name="tab-myself"></ion-nav-view>
    </ion-tab>
</ion-tabs>