<ion-view title="民族工艺">
    <ion-header-bar class="bar-stable" align-title="center">
        <button class="button ion-ios-arrow-back button-clear" ui-sref="tabs.menu.home"></button>
        <h2 class="title">民族工艺</h2>
        <!--<button class="button button-clear" ui-sref="tabs.register-enter">登录</button>-->
    </ion-header-bar>
    <ion-content class="detail-sceny" >
        <!-- 民族工艺-->
        <p class="nation_bg">民族工艺</p>
        <!--工艺文化-->
        <div class="cuturl_head">
            <p style="padding-left: 1em">工艺文化</p>
        </div>
        <div class="list">
            <div class="item item-thumbnail-left">
                <img ng-src="images/carft_cuturl_1.jpg">
                <h2>蒙古族图腾文化</h2>
                <P>图腾文化是世界上所有民族或部落在一定历史阶段上普遍存在过的文化现象，蒙古原始人群也是如此。</P>
            </div>
            <div class="item item-thumbnail-left">
                <img ng-src="images/carft_cuturl_2.jpg">
                <h2>彝族工艺文化</h2>
                <p>彝族是我国具有悠久历史和古老文化的少数民族之一，创造了灿烂的民族文化。彝族漆器文化艺术是彝族文化中的一颗明珠。据传说，最早的漆器技术是由彝族先民狄一伙甫创造的，距今已有1600年历史。</p>
            </div>
        </div>
        <!--绘画工艺·雕刻工艺-->
        <p class="nation_bg">绘画工艺·雕刻工艺</p>
        <div class=" clear cuturl_head">
            <p class="p1">绘画工艺</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_gongyi_1.jpg">
                        </a>
                        <a>
                            <img src="images/caft_gongyi_2.jpg">
                        </a>
                    </p>
                </div>
                <div class="opad">
                    <ul>
                        <li>滕氏布糊画</li>
                        <li>衡水内画</li>
                        <li>蒙古族美术绘画艺术</li>
                        <li>俄罗斯族树皮画工艺</li>
                        <li>唐卡　藏文化的一株奇葩</li>
                        <li>民间绘画</li>
                        <li>全国民间工艺美术作品展:乡土艺术 情系民间</li>
                        <li>舞阳农民画</li>
                    </ul>
                </div>
            </div>
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_gongyi_3.jpg">
                        </a>
                        <a>
                            <img src="images/caft_gongyi_4.jpg">
                        </a>
                    </p>
                </div>
                <div class="opad">
                    <ul>
                        <li>武强木版年画</li>
                        <li>杨柳青木版年画</li>
                        <li>壮族的花山崖壁画</li>
                        <li>潍坊杨家埠年画</li>
                        <li>油画创作要保持民族化特点</li>
                        <li>农民画誉满九州日照民间绘画回眸</li>
                        <li>石嘴山平罗农民画</li>
                        <li>精致工笔打造的《清明上河图》</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--雕刻工艺-->
        <div class=" clear cuturl_head">
            <p class="p1">雕刻工艺</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
                <div  class="cda">
                    <div class="clear">
                        <p>
                            <a>
                                <img src="images/caft_diaoke_1.jpg">
                                <span>泸溪菊花石雕</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="cda">
                    <div class="opad">
                        <ul>
                            <li>鄂伦春族木雕工艺</li>
                            <li>哈萨克族雕刻工艺</li>
                            <li>鄂温克族木雕工艺</li>
                            <li>民族工艺鸵鸟蛋雕</li>
                            <li>白族石雕</li>
                            <li>民族传统的广州牙雕工艺</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="row row1 clear">
                <div  class="cda">
                    <div class="clear">
                        <p>
                            <a>
                                <img src="images/caft_diaoke_2.jpg">
                                <span>鄂温克族木雕工艺</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="cda">
                    <div class="opad">
                        <ul>
                            <li>徽州三雕</li>
                            <li>青田石雕</li>
                            <li>金石篆刻</li>
                            <li>宁波朱金漆木雕</li>
                            <li>乐清黄杨木雕</li>
                            <li>东阳木雕</li>
                            <li>嘉定竹刻</li>
                            <li>宝庆竹刻</li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--陶器工艺·玉器工艺-->
        <p class="nation_bg">陶器工艺·玉器工艺</p>
        <!--陶器工艺-->
        <div class=" clear cuturl_head">
            <p class="p1">陶器工艺</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_taoci1.jpg">
                        </a>
                        <a>
                            <img src="images/caft_taoci2.jpg">
                        </a>
                    </p>
                </div>
                <div class="opad">
                    <ul>
                        <li>界首彩陶技艺</li>
                        <li>汉族唐三彩工艺</li>
                        <li>傣族制陶工艺</li>
                        <li>藏族尼西黑陶工艺</li>
                        <li>彩绘陶鼎</li>
                        <li>哥窑贯耳八棱瓶</li>
                        <li>青釉褐彩镇墓兽</li>
                        <li>越窑青瓷蟠龙罂</li>
                    </ul>
                </div>
            </div>
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_taoci4.jpg">
                        </a>
                        <a>
                            <img src="images/caft_taoci3.jpg">
                        </a>
                    </p>
                </div>
                <div class="opad">
                    <ul>
                        <li>景泰蓝制作技艺</li>
                        <li>彝族的陶器</li>
                        <li>藏族 囊谦黑陶</li>
                        <li>新疆喀什土陶</li>
                        <li>黄釉舞乐扁壶</li>
                        <li>东汉陶砖</li>
                        <li>红褐陶双耳圜底壶</li>
                        <li>秦汉的彩绘陶甗</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--玉器工艺-->
        <div class=" clear cuturl_head">
            <p class="p1">玉器工艺</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_yuqi1.jpg">
                            <span>民族玉器 翠印色盒</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>和田白玉</li>
                        <li>百鹤玉</li>
                        <li>酒泉玉</li>
                        <li>烟青玉</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_yuqi2.jpg">
                            <span>民族玉器 莫西西玉</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>阜新玛瑙雕</li>
                        <li>岫岩玉雕</li>
                        <li>京白玉</li>
                        <li>岫岩玉</li>
                        <li>佘太翠玉</li>
                        <li>南阳玉</li>
                        <li>密县玉</li>
                        <li>宝庆竹刻</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--民族服饰-->
        <p class="nation_bg">民族服饰</p>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_cloth_1.jpg">
                            <span>赫哲族服饰</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_cloth_3.jpg">
                            <span>傣族服装</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_cloth_2.jpg">
                            <span>仫佬族服饰</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_cloth_4.jpg">
                            <span>裕固族男子服饰</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_cloth_5.jpg">
                            <span>裕固族女子服饰</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/caft_cloth_6.png">
                            <span>藏族民族服饰</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>