<ion-view title="民族文化">
    <ion-header-bar class="bar-stable" align-title="center">
        <button class="button ion-ios-arrow-back button-clear" ui-sref="tabs.menu.home"></button>
        <h2 class="title">民族文化</h2>
        <!--<button class="button button-clear" ui-sref="tabs.register-enter">登录</button>-->
    </ion-header-bar>
    <ion-content class="detail-sceny" >
        <!--民族节日·民族敬忌·民族语言-->
        <p class="nation_bg">民族节日·民族敬忌·民族语言</p>
        <!--民族节日-->
        <div class=" clear cuturl_head">
                <p class="p1">民族节日</p>
                <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/cuturl_day.jpg">
                            <span>彝族节日密枝节</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>傈僳族刀杆节</li>
                        <li>大理永平：挡路节</li>
                        <li>白族火把节</li>
                        <li>大理七宣彝族哑巴节</li>
                        <li>俄罗斯族的圣诞节</li>
                        <li>门巴族的晒佛节</li>
                        <li>哈萨克族纳吾鲁孜节</li>
                        <li>拉萨的“嘉年华”赛马节</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--民族禁忌-->
        <div class=" clear cuturl_head">
            <p class="p1">民族禁忌</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
                <div  class="cda">
                    <div class="clear">
                        <p>
                            <a>
                                <img src="images/cuturl_jinji.jpg">
                                <span>回族饮食禁忌</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="cda">
                    <div class="opad">
                        <ul>
                            <li>回族饮食禁忌</li>
                            <li>藏族禁忌</li>
                            <li>珞巴族的禁忌</li>
                            <li>水族礼仪及禁忌</li>
                            <li>纳西族礼仪及禁忌</li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--民族语言-->
        <div class=" clear cuturl_head">
            <p class="p1">民族语言</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/cuturl_miaozu.jpg">
                            <span>苗族文字</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>藏族语言文字</li>
                        <li>蒙古族语言文字</li>
                        <li>柯尔克孜族文字</li>
                        <li>哈萨克族文字</li>
                        <li>维吾尔族文字</li>
                        <li>朝鲜族语言文字</li>
                        <li>满语的源流</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--民族历史·民族风俗·民族风情 -->
        <p class="nation_bg">民族历史·民族风俗·民族风情</p>
        <!--民族历史-->
        <div class=" clear cuturl_head">
            <p class="p1">民族历史</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
                <div class="cda">
                    <div class="clear">
                        <p>
                            <a>
                                <img src="images/cuturl_history.jpg">
                                <span>京族历史概述</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="cda">
                    <div class="opad">
                        <ul>
                            <li>阿昌族历史记载</li>
                            <li>白族先民历史</li>
                            <li>保安族历史演变</li>
                            <li>略述布朗族历史</li>
                            <li>达斡尔族历史起源</li>
                            <li>苗族历史简述</li>
                            <li>蒙古族历史简述</li>
                            <li>门巴族历史简述</li>
                            <li>满族历史简述</li>
                            <li>宋代时的羌族</li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--民族风俗-->
        <div class=" clear cuturl_head">
            <p class="p1">民族风俗</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
                <div class="cda">
                    <div class="clear">
                        <p>
                            <img src="images/cuturl_su.jpg">
                        </p>
                    </div>
                </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>乌孜别克族的风俗习惯</li>
                        <li>新疆回族的风俗习惯</li>
                        <li>珞巴族的禁忌</li>
                        <li>保安族的风俗</li>
                        <li>拉祜族的风俗习惯</li>
                        <li>傣族风俗习惯</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--民族风情-->
        <div class=" clear cuturl_head">
            <p class="p1">民族风情</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
                <div class="cda">
                    <div class="clear">
                        <p>
                            <a>
                                <img src="images/cuturl_miaozu.jpg">
                                 <span>苗族文字</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="cda">
                    <div class="opad">
                        <ul>
                            <li>蒙古贞文化如何传承和发展</li>
                            <li>壮族的社会经济</li>
                            <li>彝族的社会经济</li>
                            <li>少女的成人礼 独一无二的瑶族文</li>
                            <li>锡伯族　弓箭之族</li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--民族趣闻·民族传说·民族宗教 -->
        <p class="nation_bg">民族趣闻·民族传说·民族宗教</p>
        <!--民族历史-->
        <div class=" clear cuturl_head">
            <p class="p1">民族趣闻</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/cuturl_quwen.jpg">
                             <span>云南少数民族称谓趣闻</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>回民为什么不吃猪肉</li>
                        <li>云南少数民族称谓趣闻</li>
                        <li>我国少数民族趣闻</li>
                        <li>民族趣闻:云南十八怪</li>
                        <li>少数民族茶文化与婚俗习惯趣闻</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--民族传说-->
        <div class=" clear cuturl_head">
            <p class="p1">民族传说</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/cuturl_su.jpg">
                            <span>牛郎织女的传说</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="cda">
                <div class="opad">
                    <ul>
                        <li>“鸡舞”，哈密绿洲的幽默</li>
                        <li>黔东南龙舟节的传说</li>
                        <li>陕西关中民俗：土旺用事的传说</li>
                        <li>哈尼族与傣族忌婚的传说</li>
                        <li>金平苗族民间故事</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--民族宗教-->
        <div class="clear cuturl_head">
            <p class="p1">民族宗教</p>
            <p class="p2"></p>
        </div>
        <div class="row row1 clear">
                <div class="cda">
                    <div class="clear">
                        <p>
                            <a>
                                <img src="images/cuturl_fojiao.jpg">
                                <span>佛教</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="cda">
                    <div class="opad">
                        <ul>
                            <li>民族宗教发展介绍</li>
                            <li>宗教对外交往</li>
                            <li>宗教政策</li>
                            <li>民族宗教伊斯兰教</li>
                            <li>民族宗教道教</li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--文化图库-->
        <p class="nation_bg">文化图库</p>
        <div class="row_cuturl clear">
            <div class="col_left">
                <a>
                    <img src="images/cuturl_img1.jpg">
                    宗教对外交往
                </a>
            </div>
            <div class="col_right">
                <a>
                    <img src="images/cuturl_img2.jpg">
                    民族宗教伊斯兰教
                </a>
            </div>
        </div>
        <div class="row_cuturl clear">
            <div class="col_left">
                <a>
                    <img src="images/cuturl_img3.jpg">
                    民族宗教道教
                </a>
            </div>
            <div class="col_right">
                <a>
                    <img src="images/cuturl_img4.jpg">
                    民族宗教佛教
                </a>
            </div>
        </div>
        <div class="row_cuturl clear">
            <div class="col_left">
                <a>
                    <img src="images/cuturl_img5.jpg">
                    民族宗教天主教
                </a>
            </div>
            <div class="col_right">
                <a style="display: block">
                <img src="images/cuturl_img6.jpg">
                彝族节日密枝节
            </a>
            </div>
        </div>
        <div class="row_cuturl clear">
            <div class="col_left">
                <a>
                    <img src="images/cuturl_img7.png">
                    普米族节日端午节
                </a>
            </div>
            <div class="col_right">
                <a>
                    <img src="images/cuturl_img8.png">
                    纳西族节日三朵节
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>