<ion-view title="民族医药">
    <ion-header-bar class="bar-stable" align-title="center">
        <button class="button ion-ios-arrow-back button-clear" ui-sref="tabs.menu.home"></button>
        <h2 class="title">民族医药</h2>
        <!--<button class="button button-clear" ui-sref="tabs.register-enter">登录</button>-->
    </ion-header-bar>
    <ion-content class="detail-sceny" >
        <!--民族医药-->
        <p class="nation_bg">民族医药</p><br>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/mecial_yizu.jpg">
                        </a>
                    </p>
                    <div class="opad">
                        <ul>
                            <li>苗医方剂</li>
                            <li>傣医特色治疗方法</li>
                            <li>瑶医特色疗法——滚蛋疗法</li>
                            <li>彝医治疗哮喘</li>
                            <li>壮医陶针疗法</li>
                            <li>壮医挑疳疗法</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/mecial_weiyi.jpg">
                        </a>
                    </p>
                    <div class="opad">
                        <ul>
                            <li>特效傣药治愈类风湿初探</li>
                            <li>瑶医特色疗法——药物灸法</li>
                            <li>壮医三宝</li>
                            <li>壮医火针疗法</li>
                            <li>壮医挑痧疗法</li>
                            <li>瑶族点刺疗法</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--民族医药图库-->
        <p class="nation_bg">民族医药图库</p><br>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/mecial_img1.jpg">
                            <span>彝医的预防医学</span>
                        </a>
                    </p>
                </div>
            </div>
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/weiyi.jpg">
                            <span>维医的临床医学</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row row1 clear">
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/tuyi.jpg">
                            <span>土医医药沿革</span>
                        </a>
                    </p>
                </div>
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/mecial_chao.jpg">
                            <span>朝医学的诊断方法</span>
                        </a>
                    </p>
                </div>
            </div>
            <div  class="cda">
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/hasake-mecial.jpg">
                            <span>哈萨克族的医药</span>
                        </a>
                    </p>
                </div>
                <div class="clear">
                    <p>
                        <a>
                            <img src="images/mecial_miao.jpg">
                            <span>苗医医药</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
