<ion-view id="tour-view" title="民族文化" >
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-clear" ng-if="config.enter" ui-sref="home">进入</button>-->
    <!--</ion-nav-buttons>-->
    <ion-slide-box on-slide-changed="onSlideChanged()" style="height: 100%">
        <ion-slide  style="background:url('images/lead_bg1.jpg') no-repeat; background-size: 100% 100%">
        </ion-slide>
        <ion-slide style="background:url('images/lead_bg2.jpg') no-repeat; background-size: 100% 100%">
        </ion-slide>
        <ion-slide style="background:url('images/lead_bg3.jpg') no-repeat; background-size: 100% 100%;position: relative">
            <div class="lead_bg3" ui-sref="tabs.menu.home">骚年点这里</div>
        </ion-slide>
    </ion-slide-box>
</ion-view>